p.info {
  background-color: #dfdfdf;
}
p.info {
  font-size:small;
}
p {
	color: navy;
}

p.info {
	font-size: 10pt;
}
h1{
  text-shadow:
    1px 1px 2px white,
    0 0 1em navy,
    0 0 0.2em navy;
  color: white;
  font:"";
}

h2 {
	border: solid 1px black;
	margin: 5px;
}

div#zentai {
	display: flex;
	flex-direction: row;
	width: 1024px;
}

div#zentai > div {
	margin-left: 5px;
	background-color: #ffefaf;
}
