p.info {
  background-color: #dfdfdf;
}
p.info {
  font-size:small;
}
p {
	color: navy;
}

p.info {
	font-size: 10pt;
}
h1{
  text-shadow:
    1px 1px 2px white,
    0 0 1em navy,
    0 0 0.2em navy;
  color: white;
  font:"";
}

h2 {
	border: solid 1px black;
	color:#3f3faf ;
	margin: 5px;
	font-family:cursive;
	color:#3f3faf;
	background:linear-gradient(.25turn, white, 50%, #ffefaf);
    
}

div#zentai {
	display: grid;                      
    grid-template-columns: 1fr 1fr ;     
    grid-gap: 10px;                    
    width: 1024px;
}

div.box {
    background: cyan;
}


div#zentai > div {
	padding: 5px;
	height:200px;
	background-color: #ffefaf;
}
img{
	float: right;
}
